.container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow: hidden;

  & > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.container.fullscreen {
  background: none;
}
