$safe_padding: 64px;

.container {
  position: fixed;
  inset: 0;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container.maximized {
  z-index: 1;

  & .cover {
    width: auto;
    height: 100%;
  }
}

.wrapper {
  position: relative;
  padding: $safe_padding;
  display: flex;
  flex-direction: column;

  &:hover {
    & .cover > button,
    & .inner > div:last-child,
    & .buttons {
      opacity: 1;
    }
  }
}

.inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cover {
  position: relative;
  width: 400px;
  display: flex;
  box-shadow: var(--shadow-fullscreen);
  border-radius: 10px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  & > button {
    position: absolute;
    top: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: color-opacity(var(--black), 0.1);
    opacity: 0;
    transition: all 0.2s ease-in-out;

    & > svg {
      fill: var(--white);
    }
  }
}

.close {
  left: 16px;
}

.maximize {
  right: 16px;
}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 8px - $safe_padding));
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 4px;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  & > button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      width: 16px;
      height: 16px;
      fill: var(--white);
    }

    &:hover {
      & > svg {
        fill: var(--dark-3);
      }
    }
  }
}
