:root {
  --white: #fff;
  --black: #000;

  --blue: #0078d4;
  --red: #e81123;
  --dark: #121212;
  --dark-2: #2c2c2c;
  --dark-3: #9f9f9f;

  --bg: #111;

  --shadow-fullscreen: 0px 4px 12px color-opacity(var(--black), 0.1);

  --app-title-bar-height: 32px;
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;

  &:hover div[data-controls] {
    opacity: 1;
  }
}

#root {
  position: relative;
  height: 100dvh;
  overflow-y: auto;
}

button {
  all: unset;
  cursor: pointer;
}
