html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

#root {
  position: relative;
  margin-top: var(--app-title-bar-height);
  overflow-y: auto;
  height: calc(100dvh - var(--app-title-bar-height));
}

button {
  all: unset;
  cursor: pointer;
}
