.container {
  position: relative;
  padding-right: 16px;
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.wrapper {
  min-width: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.buttons {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  column-gap: 4px;
  pointer-events: none;

  & > button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    & > svg {
      width: 16px;
      height: 16px;
      fill: var(--white);
    }

    &:hover {
      & > svg {
        fill: var(--dark-3);
      }
    }
  }
}
