.container {
  position: relative;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.container.fullscreen {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.wrapper {
  display: flex;
  align-items: center;
}

.buttons {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  column-gap: 4px;
  pointer-events: none;

  & > button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    pointer-events: all;

    & > svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }

    &:hover {
      & > svg {
        fill: var(--dark-3);
      }
    }
  }
}
