.container {
  padding-right: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  & > div {
    display: flex;
    align-items: center;
  }
}

.container.fullscreen {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.buttons {
  margin-left: 8px;
  display: flex;
  column-gap: 4px;

  & > button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;

    & > svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }

    &:hover {
      & > svg {
        fill: var(--dark);
      }
    }
  }
}
