.container {
  z-index: 1;
  position: relative;
  padding-left: 16px;
  height: var(--app-title-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  app-region: drag;

  & > div:last-child {
    height: 100%;
    display: flex;

    & > button {
      width: 44px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      app-region: no-drag;

      &:hover:not(:last-child) {
        background-color: var(--dark-2);
      }

      &:hover:last-child {
        background-color: var(--red);
      }
    }
  }
}

.buttons {
  display: flex;
  app-region: no-drag;

  & > button {
    color: var(--dark-3);
    font-size: 14px;
    white-space: nowrap;

    &:hover {
      color: var(--white);
    }
  }
}

.minimize {
  & > div {
    width: 12px;
    height: 1px;
    background-color: var(--white);
  }
}

.maximize {
  & > div {
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
    box-sizing: border-box;
  }
}

.close {
  & > div {
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: var(--white);
  }

  & > div:first-child {
    transform: rotate(45deg);
  }

  & > div:last-child {
    transform: rotate(-45deg);
  }
}
